body {
    font: 18px;
    background: #eee;
    font-family: 'Sniglet', cursive;
    padding: 10px 5px 30px 10px;
  }
  
  #shoes {
    width: 70%;
  }
   
h1 {
  color: #6B15EA;
  background: #EA4715;
  text-align: center;
}
  
  form {
    float: right;
    width: 40%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 1px;
  }
  
  input[type="text"] {
    width: 100px;
    height: 30px;
    margin-bottom: 1px;
    font-size: 18px;
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    color: yellow;
    cursor: pointer;
    background: #D18E1B;
    border: 1;
    border-radius: 5px;
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #EA4715;
  }
  
  button.active {
    background: #EA4715;
  }
  
  /* #submit-button {
    width: 50px;
  } */